[문제 1]
수학, 영어 점수의 합산을 구하고, 점수가 높은 순서대로 정렬하시오.
결과값으로 점수가 높은 5명의 점수를 출력하시오

리스트 순서대로 1명의 학생의 점수입니다

아래 코드를 실행시키고 문제에 답하시오.

hint) for문 사용

In [1]:
english = [84, 76, 86, 90, 73, 85, 81, 71, 89, 100]
math = [72, 76, 86, 71, 69, 96, 74, 83, 87, 68]

# 위에는 주어짐

total = []

'''
for i, j in zip(english, math):
    total.append(i + j)
'''

 
for i in range(10):
    total.append(english[i] + math[i])

total.sort(reverse = True)

print(total[0:5])

[181, 176, 172, 168, 161]

[문제 3] 
pandas를 활용해 각 문항에 따라 답하시오.
아래 코드를 실행시키고 문제에 답하시오.

In [2]:
import pandas as pd
import numpy as np	
import seaborn as sns
# 주어짐

[문제 3-1] 
midwest.csv를 불러와 midwest에 저장하고, 위에서부터 10행까지 출력하시오.

In [3]:
midwest = pd.read_csv('C:/Users/USER-PC/anaconda3/WorkSpace/Doit_Python/Data/midwest.csv')
midwest.head(10)

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percollege,percprof,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,19.631392,4.355859,63628,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,11.243308,2.870315,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,17.033819,4.488572,14235,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,17.278954,4.197800,30337,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,14.475999,3.367680,4815,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR
5,566,BUREAU,IL,0.050,35688,713.760000,35157,50,65,195,...,18.904624,3.275891,35107,98.372002,10.399635,14.158819,8.179287,11.008586,0,AAR
6,567,CALHOUN,IL,0.017,5322,313.058824,5298,1,8,15,...,11.917388,3.209601,5241,98.478016,15.149781,13.787761,12.932331,21.085271,0,LAR
7,568,CARROLL,IL,0.027,16805,622.407407,16519,111,30,61,...,16.197121,3.055727,16455,97.917287,11.710726,17.225462,10.027037,9.525052,0,AAR
8,569,CASS,IL,0.024,13437,559.875000,13384,16,8,23,...,14.107649,3.206799,13081,97.350599,13.875086,17.994784,11.914343,13.660180,0,AAR
9,570,CHAMPAIGN,IL,0.058,173025,2983.189660,146506,16559,331,8033,...,41.295808,17.757448,154934,89.544286,15.572437,14.132234,17.562728,8.105017,1,HAU

[문제 3-2]
popwhite는 해당 지역의 백인 인구, poptotal은 해당 지역의 전체 인구를 나타냅니다. midwest 데이터에 '전체 인구 대비 백인 인구 백분율' 변수인 percent를 추가하세요

In [4]:
midwest['percent'] = (midwest['popwhite']) / midwest['poptotal'] * 100
midwest

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percprof,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,percent
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,4.355859,63628,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR,96.712059
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,2.870315,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR,66.384340
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,4.488572,14235,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR,96.571276
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,4.197800,30337,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU,95.254171
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,3.367680,4815,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR,90.198766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,3048,WAUKESHA,WI,0.034,304715,8962.205880,298313,1096,672,2699,...,7.667090,299802,98.387674,3.121060,3.785820,2.590061,4.085479,1,HLU,97.899020
433,3049,WAUPACA,WI,0.045,46104,1024.533330,45695,22,125,92,...,3.138596,44412,96.330036,8.488697,10.071411,6.953799,10.338641,0,AAR,99.112875
434,3050,WAUSHARA,WI,0.037,19385,523.918919,19094,29,70,43,...,2.620907,19163,98.854785,13.786985,20.050708,11.695784,11.804558,0,AAR,98.498839
435,3051,WINNEBAGO,WI,0.035,140320,4009.142860,136822,697,685,1728,...,5.659847,133950,95.460376,8.804031,10.592031,8.660587,6.661094,1,HAU,97.507127
436,3052,WOOD,WI,0.048,73605,1533.437500,72157,90,481,722,...,4.583725,72685,98.750085,8.525831,11.162997,7.375656,7.882918,0,AAR,98.032742

[문제 3-3]
percent 값에 따라 내림차순으로 정렬하시오.

In [5]:
midwest.sort_values('percent', ascending = False)

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percprof,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,percent
85,646,SCOTT,IL,0.015,5644,376.266667,5634,1,6,3,...,2.250804,5578,98.830617,11.527429,14.256480,9.370678,13.360656,0,AAR,99.822821
358,2090,VINTON,OH,0.024,11098,462.416667,11071,4,16,3,...,1.565417,10937,98.549288,23.607936,31.770833,22.225975,14.917696,0,LHR,99.756713
84,645,SCHUYLER,IL,0.026,7498,288.384615,7479,2,9,6,...,2.750491,7365,98.226194,16.496945,21.913415,13.646113,16.780045,0,AAR,99.746599
73,634,PIATT,IL,0.025,15548,621.920000,15508,8,16,11,...,5.192197,15315,98.501415,6.131244,7.067669,4.612260,9.167794,0,HLR,99.742732
389,3005,IOWA,WI,0.046,20150,438.043478,20093,7,21,19,...,3.946027,19890,98.709677,9.994972,12.482518,8.103774,11.624650,0,HAR,99.717122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,637,PULASKI,IL,0.011,7523,683.909091,5032,2466,8,7,...,2.200997,7441,98.910009,30.184115,40.037418,23.867741,31.161972,0,LHR,66.888209
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,2.870315,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR,66.384340
15,576,COOK,IL,0.058,5105067,88018.396600,3204947,1317147,10289,188565,...,8.329964,5023523,98.402685,14.198303,22.293497,11.665542,10.825269,1,AAU,62.779725
275,1278,WAYNE,MI,0.035,2111687,60333.914300,1212007,849109,8048,21704,...,4.985751,2084529,98.713919,20.065300,30.564270,17.066226,13.247350,1,AHU,57.395201
404,3020,MENOMINEE,WI,0.021,3890,185.238095,416,0,3469,0,...,0.520291,3820,98.200514,48.691099,64.308477,43.312464,18.218623,0,LHR,10.694087

[문제 3-4]
county가 'SCOTT'인 경우와 country가 'PIATT'인 경우의 poptotal의 평균을 각각 구하시오.
hint) query()와 mean()

In [6]:
SCOTT = midwest.query('county == "SCOTT"')['poptotal'].mean()
PIATT = midwest.query('county == "PIATT"')['poptotal'].mean()
print(SCOTT)
print(PIATT)

13317.5
15548.0